{% extends 'base.html.twig' %}

{% block titulo %}
    <h1 class="m-0 text-dark">nuevo trabajador</h1>
{% endblock %}

{% block menu_act %}
    active
{% endblock %}

{% block camino %}
    <li class="breadcrumb-item"><a href="{{ path('index') }}">inicio</a></li>
    <li class="breadcrumb-item active">usuarios</li>
{% endblock %}