<!-- Modal -->
<div class="modal fade" id="cantCuadre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="form modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">nuevo negocio</h4>
            </div>
            <div class="modal-body">
                {{ form_start(formCuadre) }}
                {{ form_end(formCuadre) }}
            </div>
        </div>
    </div>
</div>




