<!-- Modal -->
<div class="modal fade" id="myModalDelNeg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="form modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Eliminar negocio</h4>
            </div>
            <form method="post" action="{{ path('negocio_delete', {'id': negocio.id}) }}">
                <div class="modal-body">
                    <p>¿Está seguro de eliminar este negocio?</p>
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ negocio.id) }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No
                    </button>
                    <button type="submit" class="btn btn-danger ">Si</button>
                </div>
            </form>
        </div>
    </div>
</div>

<button class="btn btn-danger" data-toggle="modal" data-target="#myModalDelNeg">Eliminar negocio
</button>